/* --------------------------
Navigation
-------------------------- */

.navigation-wrapper {
	@apply
		bg-white
		fixed
		transition-all
		duration-100
		ease-in
		top-0
		left-0
		p-6
		z-10
		w-full
		h-screen;

		transform: translateX(-200%);

		@screen md {
			@apply
				bg-transparent
				h-auto
				left-auto
				block
				static
				top-auto
				p-0
				w-full
				top-auto;

  				transform: translateX(0);
		}
}

.navigation-wrapper--is-active {
	@apply
		block;
		transform: translateX(0);
}

.navigation-button {
	padding: 15px;
  	@apply
  		bg-black
  		fixed
  		top-0
  		right-0
  		w-12
  		h-12
  		block
  		z-10
  		cursor-pointer;

	@screen md {
		@apply hidden;
	}
}

.navigation-button__inside {
	@apply
		relative
		w-full
		h-full
		z-50;
}

.navigation-button__lines {
	@apply
		block
		absolute
		top-0
		w-1/2
		opacity-100
		bg-white
		transition-all
		duration-100
		ease-in;
	height: 2px;
}

.navigation-button.is-active {
	@apply
		bg-blue-300;
}

.navigation-button.is-active .navigation-button__line-1 {
	@apply
	transform
	transition-all
	duration-100
	ease-in
		rotate-45
		left-0;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-2 {
	@apply
	transform
	transition-all
	duration-100
	ease-in
		-rotate-45
		left-0;
	margin-top: 10px;
}

.navigation-button.is-active .navigation-button__line-3 {
	@apply
		hidden
		left-0
		mt-4;
}

.navigation-button.is-active .navigation-button__line-4 {
	@apply
		hidden
		right-0;
}

.navigation-button.is-active .navigation-button__line-5 {
	@apply
	transform
	transition-all
	duration-100
	ease-in
		-rotate-45
		right-0;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-6 {
	@apply
	transform
	transition-all
	duration-100
	ease-in
		rotate-45
		right-0;
	margin-top: 10px;
}

.navigation-wrapper__list-item  {
  margin: 3px 0;

  @screen md {
    @apply
    	mx-1
    	inline-block;
  }
}

.navigation-wrapper__link  {
  @apply
  	text-black
  	block
  	py-1
  	px-1;

}